*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(video/gal.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
  text-align: center;
  width: 1450px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 20px rgba(0,0,0,0.7);
  background-color: #ffd100;
}
.header h1{
  color: #202020;
  padding: 15px;
}
.body{
  flex: 1;
  color: white;
  background-color: #202020;
  padding: 20px 30px;
}
.message{
  background-color: #ffd100;
  padding: 10px;
  color: #202020;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}
.user_message{
  margin-left: auto;
  background-color: #ffd100;
  color: #202020;
}
.message1{
  background-color: #ffd100;
  padding: 10px;
  color: #202020;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 15px;
}
.footer form{
  display: flex;
}
form input{
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 5px;
  font-size: 16px;
}
form button{
  width: 100px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffd100;
  color: white;
  cursor: pointer;
}
form button:hover{
  background-color: #202020;
  transition: 0.2s ease;
}
.right_side{
  text-align: right;
  float: right;
  display: block;
}
.column {
  float: left;
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
